
// Converted Variables

$elemensList-fontSize: $g-fontSize !default;
$elemensList-dt-fontSize: $g-fontSize !default;
$elemensList-dt-fontWeight: $g-fontWeight-bold !default;


/*
 * sircus-elements-list
 ================================================== */
ul,ol {
  font-size: $elemensList-fontSize;
  padding-left:$g-space;
}
ul > li > ul,
ol > li > ol{
  padding-left:1.5rem;
  margin:0;
  list-style:inset;
}

dt {
  font-size: $elemensList-dt-fontSize;
  font-weight: $elemensList-dt-fontWeight;
}
dd { margin-left: 0; }
